@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');


:root{
    --scissorsGrad1: hsl(39, 89%, 49%);
    --scissorsGrad2:hsl(40, 84%, 53%);
    --paperGrad1:hsl(230, 89%, 62%);
    --paperGrad2:hsl(230, 89%, 65%);
    --rockGrad1: hsl(349, 71%, 52%);
    --rockGrad2:hsl(349, 70%, 56%);
    --lizardGrad1: hsl(261, 73%, 60%);
    --lizardGrad2: hsl(261, 72%, 63%);
    --spock1: hsl(189, 59%, 53%);
    --spock2: hsl(189, 58%, 57%);



    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);

    --background1:hsl(214, 47%, 23%);
    --background2: hsl(237, 49%, 15%);


    --globalFont: 'Barlow Semi Condensed', sans-serif;

}



    *{
        box-sizing: border-box;
        margin:0;
        font-family:var(--globalFont);
    
    }
     body{
        margin: 0;
        padding: 1em;
        transition: 0.5s ease;
        text-align: center;
        background-image:   radial-gradient(closest-side, var(--background1) 0%, var(--background2)100%);
        background-size: cover;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        
    } 




    /* HEADER SECTION */
    header {
        display: flex;
        padding: 0.5em;
        border:5px groove var(--headerOutline);
        width: 40vw;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
        height: 8em;
        justify-content:space-between;
    }
    header button{
        height:6em ;
        width: 8em;
        padding: 0.5em;
        border-radius: 10px;
        border:none;
        color:  var(--scoreText);
        font-size: 1rem;
        font-weight: 700;
        
    }
    header button span{
        display: block;
        color: var(--background1);
        font-size: 2rem;
    
    }








    /* MID SECTION */
    #choose{
        height: 40vh;
        background: url(images/bg-pentagon.svg) center;
       background-size:contain;
       background-repeat: no-repeat;
       margin: 4em;
    }
    #choose div{
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
/* Image positioning and color*/
    


#one{
        top: 34%;
        left: 50%;
        border: 1.2em solid var(--scissorsGrad1);
        box-shadow: 0px 5px 10px 1px var(--scissorsGrad2);   
            
    } 
    

    #two{
        top: 46%;
        left: 61%;
        border: 1.2em solid var(--paperGrad1);
        box-shadow: 0px 5px 10px 1px var(--paperGrad2);
}
      #three{
        top: 47%;
        left:39%;
        border: 1.2em solid var(--spock1);
        box-shadow: 0px 5px 10px 1px var(--spock2);
      }

    #four{
        top: 70%;
        left: 42%;
        border: 1.2em solid var(--lizardGrad1);
        box-shadow: 0px 5px 10px 1px var(--lizardGrad2); 
    }


    #five{
        top: 70%;
        left: 57%;
        border: 1.2em solid var(--rockGrad1);
        box-shadow: 0px 5px 10px 1px var(--rockGrad2);
}

        

    #step2 {
        text-align: center;
        width: 60vw;
        margin:2em auto 2em auto;
        padding: 2em;
        display: none;
        
    }
    .statement{
        display: flex;
        justify-content: space-between;
        padding:0 0 3em 2em;
    }
    #step2 p{
        color: white;
        font-weight: 700;
       
    } 
    .statement p{
        word-spacing: 0.3em;
        letter-spacing: 0.2em;
  
    }
    #step2 .choices{
        display: flex;
        justify-content: space-between;
        width: 53vw;
        margin: 4em;   
    }
    .choices div{
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1em;
        border-radius: 50%;
        
    }
    
    .choices img{
        max-width: 100%;
      
    }
    
    .wnp{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 44%;
    }
    .word{
        font-size: 2.5rem;
        margin-bottom: 0.3em;
    }
    .wnp button{
        width: 12em;
        padding: 0.7em;
        font-weight: 700;
        color: var(--darkText);
    }
    .wnp button:hover{
        background-color: var(--darkText);
        color: white;
        transition: 0.4s ease;
    }
    


   






    /* BOTTOM SECTION */
    .bottom{
        margin: 0 0 1em 0;
    }
    .rulesBtn{
        float: right;
        background-color: inherit;
        text-transform: uppercase;
        padding:0.5em 2em 0.5em 2em;
        color: white;
        border: 2px groove var(--headerOutline);
        border-radius: 10px;
        font-weight: 500;
        font-size: 0.7rem;
        position: relative;
    } 
    .rulesBtn:hover{
        color: var(--background1);
        background-color: white;
        font-weight: 700;
        transition: 0.4s ease;
    }
     #rules{
        visibility: hidden;
        width: 30%;
        background-color: white;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 20%;
        left: 35%;
        padding: 2em 1em 2em 1em;
    }
    #rules div{
        display: flex;
        justify-content: space-between;

    }
    #close:hover{
        background-color: var(--background1);
    }
    
    #rules p{
          color: var(--darkText);
          font-weight: 700;
      }



      /* FOOTER SECTION */
    .attribution {
         font-size: 11px; text-align: center; 
         color: white;
        }
    .attribution a {
         color: var(--spock1);
         }
 


         /* Responsiveness */
@media screen and (max-width:768px) {
 
    header{
        width: 80vw;
    }

    #choose div{
        padding: 0.5em;
    }
    #choose img{
        max-width: 50%;
    }
    #one{
        top: 39%;
        left: 50%;

    } 
    #two{
        top: 51%;
        left: 70%;
    }
    #three{
        top: 51%;
        left:30%;
    }
    #four{
        top: 73%;
        left: 35%;
    }
    #five{
        top: 73%;
        left: 65%;
    }
    #step2 {
        width: 90vw; 
    }
  .wnp{
    position: relative;
    top: 0;
    left: 0;
    } 
    #step2 .choices{
        width: 70vw;
    }





    .rulesBtn{
        float: none;
    }
    #rules{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 7%;
     
    }
 
    }


    @media only screen and (max-width: 1000px) and (min-width:769px) {
        #choose div{
            padding: 0.7em;
        }
        #one{
            top: 37%;
        }
        #two{
            top: 50%;
            left: 65%;
        }
        #three{
            top: 50%;
            left:35%;
        }
        #four{
            top: 73%;
        }
        #five{
            top: 73%;
        }
        #step2 {
            width: 90vw; 
        }
        #step2 .choices{
            width: 80vw;
        }
    }


      
        
        
        

